17 10 * * * /home/lv39/bin/biohpc-admin-scripts/addnode_biohpc_slurm
55 11 * * * /home/lv39/bin/biohpc-admin-scripts/update_biohpc_slurm
55 23 * * * /home/lv39/bin/biohpc-admin-scripts/update_biohpc_slurm
00  * * * * /home/lv39/bin/biohpc-admin-scripts/query_biohpc_slurm
